@mixin rock-zoom {
  box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  transition-delay: 0.15s;
  -webkit-transform: translateY(-48px) scale(1.4);
  transform: translateY(-80px) scale(0.5);
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: absolute;
  width: $circle-size;
  height: $circle-size;
  // border-radius: 50%;
  // padding: 0;
  // list-style: none;

  > * {
    // display: block;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    // margin: -($item-size / 2);
    // width: $item-size;
    // height: $item-size;

    $angle: (355 / $item-count);
    $rot: 33;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.bodyWrapper {
  width: 100%;
  height: 100vh;
  // margin-left: 20%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 4%;
  grid-column-gap: 4%;
  background-color: gray;

  .rockTypeImg {
    border-radius: 50%;
    margin-left: 20%;
  }
  &:hover > .bodyWrapper {
    background-color: blue;
  }

  .circle-container {
    @include on-circle($item-count: 6, $circle-size: 35vw, $item-size: 15vw);
    margin: 5em auto 0;
  }

  .arrowImg1,
  .arrowImg2,
  .arrowImg3 {
    position: relative;
    width: 25vw;
    z-index: 10;
  }

  .arrowImg2 {
    transform: rotate(-120deg);
  }

  .arrowImg1 {
    transform: rotate(115deg);
  }

  .rockText {
    display: none;
    text-align: center;
    position: relative;
    bottom: 9vw;
    // margin-top: -200px;

    hr {
      width: 50%;
    }
  }

  .rockTypeDiv1,
  .rockTypeDiv2,
  .rockTypeDiv3 {
    position: absolute;
    top: 0px;
    width: 25vw;
    height: auto;
    // border-radius: 5%;
    // box-shadow: 5px 5px 5px;
    cursor: pointer;
    z-index: 90;

    &:hover {
      transition: 0.5s;
      box-shadow: 5px 5px 5px;
      background-color: rgba($color: #000, $alpha: 0.4);
    }
    &:hover .rockText {
      display: inline;
      text-align: center;
    }
  }

  .hiddenDiv {
    position: relative;
    width: 25vw;
    top: 0;
    text-align: center;
    z-index: 90;
    &:hover img {
      @include rock-zoom();
    }

    img {
      display: block;
      width: 15vw;
      border: solid 1px rgba($color: #000000, $alpha: 0.4);
      box-shadow: 5px 5px 5px;
      transition: 0.75s;

      //  -webkit-transform: translateY(-32px) scale(6);
      //  transform: translateY(-32px) scale(6);
    }
  }
}
