.bodyWrapper {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 4%;
  grid-column-gap: 4%;
  background-color: gray;
}

.bodyWrapper .rockTypeImg {
  border-radius: 50%;
  margin-left: 20%;
}

.bodyWrapper:hover > .bodyWrapper {
  background-color: blue;
}

.bodyWrapper .circle-container {
  position: absolute;
  width: 35vw;
  height: 35vw;
  margin: 5em auto 0;
}

.bodyWrapper .circle-container > * {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.bodyWrapper .circle-container > *:nth-of-type(1) {
  -webkit-transform: rotate(33deg) translate(17.5vw) rotate(-33deg);
          transform: rotate(33deg) translate(17.5vw) rotate(-33deg);
}

.bodyWrapper .circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(92.16667deg) translate(17.5vw) rotate(-92.16667deg);
          transform: rotate(92.16667deg) translate(17.5vw) rotate(-92.16667deg);
}

.bodyWrapper .circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(151.33333deg) translate(17.5vw) rotate(-151.33333deg);
          transform: rotate(151.33333deg) translate(17.5vw) rotate(-151.33333deg);
}

.bodyWrapper .circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(210.5deg) translate(17.5vw) rotate(-210.5deg);
          transform: rotate(210.5deg) translate(17.5vw) rotate(-210.5deg);
}

.bodyWrapper .circle-container > *:nth-of-type(5) {
  -webkit-transform: rotate(269.66667deg) translate(17.5vw) rotate(-269.66667deg);
          transform: rotate(269.66667deg) translate(17.5vw) rotate(-269.66667deg);
}

.bodyWrapper .circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(328.83333deg) translate(17.5vw) rotate(-328.83333deg);
          transform: rotate(328.83333deg) translate(17.5vw) rotate(-328.83333deg);
}

.bodyWrapper .arrowLi {
  background-color: green;
  position: absolute;
  z-index: 1;
}

.bodyWrapper .arrowImg1,
.bodyWrapper .arrowImg2,
.bodyWrapper .arrowImg3 {
  width: 25vw;
  z-index: 1;
}

.bodyWrapper .arrowImg2 {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.bodyWrapper .arrowImg1 {
  -webkit-transform: rotate(115deg);
          transform: rotate(115deg);
}

.bodyWrapper .rockText {
  display: none;
  text-align: center;
  position: relative;
  bottom: 9vw;
}

@media (min-width: 800px) {
  .bodyWrapper .rockText {
    font-size: 1.5rem;
  }
}

@media (min-width: 2500px) {
  .bodyWrapper .rockText {
    font-size: 1rem;
  }
}

.bodyWrapper .rockText hr {
  width: 50%;
}

.bodyWrapper .rockTypeDiv1,
.bodyWrapper .rockTypeDiv2,
.bodyWrapper .rockTypeDiv3 {
  position: absolute;
  top: 0px;
  width: 25vw;
  height: auto;
  cursor: pointer;
  z-index: 90;
}

.bodyWrapper .rockTypeDiv1:hover,
.bodyWrapper .rockTypeDiv2:hover,
.bodyWrapper .rockTypeDiv3:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 5px 5px 5px;
          box-shadow: 5px 5px 5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.bodyWrapper .rockTypeDiv1:hover .rockText,
.bodyWrapper .rockTypeDiv2:hover .rockText,
.bodyWrapper .rockTypeDiv3:hover .rockText {
  display: inline;
  text-align: center;
}

.bodyWrapper .hiddenDiv {
  position: relative;
  width: 25vw;
  top: 0;
  text-align: center;
  z-index: 90;
}

.bodyWrapper .hiddenDiv:hover img {
  -webkit-box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
          box-shadow: 0 3px 4px 0 rgba(44, 71, 146, 0.25);
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
  -webkit-transform: translateY(-48px) scale(1.4);
  transform: translateY(-80px) scale(0.5);
}

.bodyWrapper .hiddenDiv img {
  display: block;
  width: 15vw;
  border: solid 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 5px;
          box-shadow: 5px 5px 5px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}
/*# sourceMappingURL=App.css.map */